<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Offers</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFilter()">
        <ng-icon name="heroFunnel" class="text-2xl text-black"></ng-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  @if (isFilterVisible) {

  <div class="p-5 w-full absolute bg-white">
    <div class="flex justify-between items-center">
      <ion-label class="font-bold">Date from</ion-label>
      <ion-datetime-button
        datetime="datetime-from"
        color="primary"
      ></ion-datetime-button>
    </div>
    <div class="mt-5 flex justify-between items-center">
      <ion-label class="font-bold">Date until</ion-label>
      <ion-datetime-button datetime="datetime-til"></ion-datetime-button>
    </div>

    <div class="mt-5 flex justify-between items-center">
      <ion-label class="font-bold">Clients</ion-label>
      <ion-button expand="block" size="small" (click)="openModal()"
        >Open</ion-button
      >
    </div>
    <div class="mt-5 flex flex-col">
      <ion-label class="font-bold">Status</ion-label>
      <ion-checkbox
        class="mt-2"
        (ionChange)="toggleFilterStatus('Accepted')"
        [checked]="getFilterStatus('Accepted')"
        >Accepted</ion-checkbox
      >
      <ion-checkbox
        class="mt-2"
        [checked]="getFilterStatus('Not Yet Send')"
        (ionChange)="toggleFilterStatus('Not Yet Send')"
        >Open</ion-checkbox
      >
      <ion-checkbox
        class="mt-2"
        (ionChange)="toggleFilterStatus('Opened')"
        [checked]="getFilterStatus('Opened')"
        >Opened</ion-checkbox
      >
      <ion-checkbox
        class="mt-2"
        (ionChange)="toggleFilterStatus('Rejected')"
        [checked]="getFilterStatus('Rejected')"
        >Rejected</ion-checkbox
      >
    </div>

    <div class="mt-5">
      <ion-button expand="full" color="secondary" (click)="toggleFilter()"
        >Go
      </ion-button>
    </div>

    <div class="mt-5">
      <ion-button
        expand="full"
        fill="clear"
        color="secondary"
        (click)="resetFilter()"
        >Reset
      </ion-button>
    </div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime-from"
          presentation="date"
          displayFormat="DD-MM-YYYY"
          [(ngModel)]="filterStartDate"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="datetime-til"
          presentation="date"
          displayFormat="DD-MM-YYYY"
          [(ngModel)]="filterEndDate"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
  } @if (!isFilterVisible) {
  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="search offers"
  ></ion-searchbar>
  }
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for ( offer of filteredOffers; track offer.id) {
    <div
      class="px-5 py-2 even:bg-gray-200 border-b border-gray-300"
      (click)="showDetails(offer)"
    >
      <div class="flex justify-between items-center">
        <div>{{ offer.offerNumber }}</div>
        <div>
          @if(offer.offerStatus === 'Not Yet Send') {<ion-badge color="open"
            >Open</ion-badge
          >} @if(offer.offerStatus === 'Opened') {<ion-badge color="tertiary"
            >Opened</ion-badge
          >
          } @if(offer.offerStatus === 'Accepted') {<ion-badge color="success"
            >Accepted</ion-badge
          >
          } @if(offer.offerStatus === 'Rejected') {<ion-badge color="danger"
            >Rejected</ion-badge
          >
          }
        </div>
      </div>
      <div class="font-bold">{{ offer.name }}</div>
      <div class="flex justify-between items-center">
        <div>{{ offer.client.name }}</div>
        <div>{{ offer.offerDate.split(' ')[0]}}</div>
      </div>
    </div>
    }
  </ion-list>
</ion-content>
