<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="w-3"></div>
      <ion-button>
        <ng-icon
          name="heroHomeSolid"
          class="text-2xl text-black"
          (click)="goHome()"
        ></ng-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Happyoffer</ion-title>
  </ion-toolbar>

  <div class="bg-white py-3 px-3 border-b-black border-b-2">
    <div class="grid grid-cols-2 items-center">
      <div class="flex items-center">
        <ion-buttons>
          <ion-back-button
            text=""
            icon="arrow-back-circle-outline"
            class="text-black ml-3"
          ></ion-back-button>
        </ion-buttons>
        <div class="ml-5 font-bold">Offers</div>
      </div>
      <div class="flex justify-end">
        <ion-buttons>
          <ng-icon name="heroFunnel" class="text-2xl text-black"></ng-icon>
        </ion-buttons>
      </div>
    </div>
  </div>
  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="search offers"
  ></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for ( offer of offers; track offer.id) {
    <div
      class="mb-5 px-5 py-2 even:bg-gray-200"
      (click)="showDetails(offer.id)"
    >
      <div>{{ offer.number }} | {{ offer.client }}</div>
      <div class="font-bold">{{ offer.name }}</div>
      <div>{{ offer.nameContactPerson }}</div>
      <div>Offer made at {{ offer.created | date:"dd-MM-yyyy"}}</div>
    </div>
    }
  </ion-list>
</ion-content>
