<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mx-5">
    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Client name"
        labelPlacement="floating"
        id="name"
        type="text"
        formControlName="name"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Zip code"
        labelPlacement="floating"
        id="Zipcode"
        type="text"
        formControlName="zipcode"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Adress"
        labelPlacement="floating"
        id="address"
        type="text"
        formControlName="address"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Number"
        labelPlacement="floating"
        id="number"
        type="text"
        formControlName="number"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Country"
        labelPlacement="floating"
        id="country"
        type="text"
        formControlName="country"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="City"
        labelPlacement="floating"
        id="city"
        type="text"
        formControlName="city"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Email"
        labelPlacement="floating"
        id="email"
        type="text"
        formControlName="email"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Chamber of commerce number"
        labelPlacement="floating"
        id="cocn"
        type="text"
        formControlName="cocn"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Phone number"
        labelPlacement="floating"
        id="phonenumber"
        type="text"
        formControlName="phonenumber"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="Website url"
        labelPlacement="floating"
        id="url"
        type="text"
        formControlName="url"
      />
    </div>

    <div class="my-10">
      <ion-button type="submit" expand="full" color="secondary"
        >Save</ion-button
      >
    </div>
  </form>
</ion-content>
