<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toast
    trigger="open-toast"
    [message]="toastMessage"
    [duration]="5000"
    color="success"
    position="top"
  />
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="mx-5">
    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Client name"
        labelPlacement="floating"
        id="name"
        type="text"
        formControlName="name"
        mode="ios"
      />
    </div>

    <div
      *ngIf="clientForm.get('name')?.errors && clientForm.get('name')?.touched"
    >
      <ng-container *ngFor="let validation of validations.name">
        <div
          *ngIf="clientForm.get('name')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Zip code"
        labelPlacement="floating"
        id="Zipcode"
        type="text"
        formControlName="zipcode"
        mode="ios"
      />
    </div>

    <div
      *ngIf="clientForm.get('zipcode')?.errors && clientForm.get('zipcode')?.touched"
    >
      <ng-container *ngFor="let validation of validations.zipcode">
        <div
          *ngIf="clientForm.get('zipcode')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Adress"
        labelPlacement="floating"
        id="address"
        type="text"
        formControlName="address"
        mode="ios"
      />
    </div>
    <div
      *ngIf="clientForm.get('address')?.errors && clientForm.get('address')?.touched"
    >
      <ng-container *ngFor="let validation of validations.address">
        <div
          *ngIf="clientForm.get('name')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Number"
        labelPlacement="floating"
        id="number"
        type="text"
        formControlName="number"
        mode="ios"
      />
    </div>

    <div
      *ngIf="clientForm.get('number')?.errors && clientForm.get('number')?.touched"
    >
      <ng-container *ngFor="let validation of validations.number">
        <div
          *ngIf="clientForm.get('number')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Country"
        labelPlacement="floating"
        id="country"
        type="text"
        formControlName="country"
        mode="ios"
      />
    </div>
    <div
      *ngIf="clientForm.get('country')?.errors && clientForm.get('country')?.touched"
    >
      <ng-container *ngFor="let validation of validations.country">
        <div
          *ngIf="clientForm.get('country')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="City"
        labelPlacement="floating"
        id="city"
        type="text"
        formControlName="city"
        mode="ios"
      />
    </div>
    <div
      *ngIf="clientForm.get('city')?.errors && clientForm.get('city')?.touched"
    >
      <ng-container *ngFor="let validation of validations.city">
        <div
          *ngIf="clientForm.get('city')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Email"
        labelPlacement="floating"
        id="email"
        type="text"
        formControlName="email"
        mode="ios"
      />
    </div>
    <div
      *ngIf="clientForm.get('email')?.errors && clientForm.get('email')?.touched"
    >
      <ng-container *ngFor="let validation of validations.email">
        <div
          *ngIf="clientForm.get('email')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Chamber of commerce number"
        labelPlacement="floating"
        id="cocn"
        type="text"
        mode="ios"
        formControlName="cocn"
      />
    </div>
    <div
      *ngIf="clientForm.get('cocn')?.errors && clientForm.get('cocn')?.touched"
    >
      <ng-container *ngFor="let validation of validations.cocn">
        <div
          *ngIf="clientForm.get('cocn')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Phone number"
        labelPlacement="floating"
        id="phonenumber"
        type="text"
        mode="ios"
        formControlName="phonenumber"
      />
    </div>
    <div
      *ngIf="clientForm.get('phonenumber')?.errors && clientForm.get('phonenumber')?.touched"
    >
      <ng-container *ngFor="let validation of validations.phonenumber">
        <div
          *ngIf="clientForm.get('phonenumber')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-black px-2 rounded-md">
      <ion-input
        label="Website url"
        labelPlacement="floating"
        id="url"
        type="text"
        mode="ios"
        formControlName="url"
      />
    </div>
    <div
      *ngIf="clientForm.get('url')?.errors && clientForm.get('url')?.touched"
    >
      <ng-container *ngFor="let validation of validations.url">
        <div
          *ngIf="clientForm.get('url')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <div class="my-10">
      <ion-button
        type="submit"
        expand="full"
        shape="round"
        color="primary"
        id="open-toast"
        [disabled]="!clientForm.valid"
        >Save</ion-button
      >
    </div>
  </form>
</ion-content>
