<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="w-3"></div>
      <ion-button>
        <ng-icon
          name="heroHomeSolid"
          class="text-2xl text-black"
          (click)="goHome()"
        ></ng-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Happyoffer</ion-title>
  </ion-toolbar>

  <div class="bg-white py-3 px-3 border-b-black border-b-2">
    <div class="flex items-center">
      <ion-buttons>
        <ion-back-button
          text=""
          icon="arrow-back-circle-outline"
          class="text-black ml-3"
        ></ion-back-button>
      </ion-buttons>
      <div class="ml-5 font-bold">Offer info</div>
    </div>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="mx-5">
    <div class="grid grid-cols-2 gap-4 mt-32">
      <ion-button expand="full" color="primary">Call mobile</ion-button>
      <ion-button expand="full" color="primary">Call</ion-button>
      <ion-button expand="full" color="primary">Whatsapp</ion-button>
      <ion-button expand="full" color="primary">Website</ion-button>
    </div>
    <ion-button expand="full" color="secondary" class="mt-5" (click)="goNotes()"
      >Notes & Logging</ion-button
    >
    <ion-button expand="full" color="secondary" class="mt-5"
      >Visit offer</ion-button
    >
  </div>
</ion-content>
