<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Offer info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="mx-5">
    <div class="grid grid-cols-2 gap-4 mt-32">
      <ion-button expand="full" color="primary">Call mobile</ion-button>
      <ion-button expand="full" color="primary">Call</ion-button>
      <ion-button expand="full" color="primary" (click)="openWhatsApp()"
        >Whatsapp</ion-button
      >
      <ion-button expand="full" color="primary">Website</ion-button>
    </div>
    <ion-button
      expand="full"
      color="primary"
      class="mt-5"
      shape="round"
      (click)="goNotes()"
      >Notes & Logging</ion-button
    >
    <ion-button
      expand="full"
      color="primary"
      class="mt-5"
      shape="round"
      (click)="showOffer()"
      >Visit offer</ion-button
    >
  </div>
</ion-content>
