<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="mt-5">
    <ion-item>
      <ion-label>Notifications for every offer</ion-label>
      <ion-toggle [(ngModel)]="everyNotification" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  @if (!everyNotification) {
  <ion-button color="primary" expand="block" class="mx-5 mt-5">
    Set notifications per offer
  </ion-button>
  }
</ion-content>
