<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="m-5 text-2xl font-bold">Notifications settings</div>

  <ion-button
    color="primary"
    expand="block"
    class="mx-5 mt-5"
    (click)="goOffers()"
  >
    Set notifications per offer
  </ion-button>
</ion-content>
<ion-footer>
  <div class="mx-5 my-10">
    <ion-button expand="full" color="danger" shape="round" (click)="logOff()"
      >Log off</ion-button
    >
  </div>
</ion-footer>
