<ion-content [fullscreen]="true">
  <div class="h-28 bg-primary flex justify-center items-center">Happyoffer</div>
  <div class="p-5">
    <div class="text-3xl">Login</div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mt-5">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </div>
      <div class="mt-5">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </div>
      <div class="mt-10">
        <ion-button type="submit" expand="block" [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
