<ion-header mode="ios">
  @if (isIos) {
  <div
    class="bg-primary text-black flex justify-center items-center pt-16 py-4"
  >
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  } @else if (isAndroid){
  <div class="bg-primary text-black flex justify-center items-center h-32">
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  } @else {
  <div class="bg-primary text-black flex justify-center items-center h-32">
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  }
</ion-header>
<ion-content [fullscreen]="true">
  <div class="p-5">
    <form [formGroup]="loginForm">
      <div class="mt-5">
        <ion-label position="floating">Email</ion-label>

        <div class="rounded-md border-gray-300 border-2 mt-2 px-2">
          <ion-input
            formControlName="email"
            type="email"
            (ionInput)="clearError()"
          ></ion-input>
        </div>
        <div class="h-4">
          @if (loginForm.controls.email.invalid &&
          (loginForm.controls.email.dirty || loginForm.controls.email.touched))
          {
          <p
            *ngIf="loginForm.controls.email.errors.required"
            class="text-red-500"
          >
            Email is required.
          </p>
          <p *ngIf="loginForm.controls.email.errors.email" class="text-red-500">
            Enter a valid email.
          </p>
          }
        </div>
      </div>
      <div class="mt-5">
        <ion-label position="floating">Password</ion-label>
        <div class="rounded-md border-gray-300 border-2 mt-2 px-2">
          <ion-input
            formControlName="password"
            type="password"
            (ionInput)="clearError()"
          ></ion-input>
        </div>
        <div class="h-4">
          @if(loginForm.controls.password.invalid &&
          (loginForm.controls.password.dirty ||
          loginForm.controls.password.touched)) {
          <p
            *ngIf="loginForm.controls.password.errors.required"
            class="text-red-500 font-default"
          >
            Password is required.
          </p>
          }
        </div>
      </div>
      <div class="h-6">
        @if (error) {
        <p class="text-red-500 font-default">Password or email is incorrect.</p>
        }
      </div>
      <div class="mt-5">
        <ion-button
          expand="full"
          color="primary"
          shape="round"
          (click)="login()"
          [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
