<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
    <ion-buttons slot="end" class="flex items-center">
      <button (click)="addClient()">
        <ng-icon name="heroPlusCircle" class="text-2xl mr-2 mt-1"></ng-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for (client of filterdClients; track client.id) {
    <ion-item (click)="showClientDetails(client)" detail>
      <!-- <ion-avatar slot="start" class="flex items-center">
        @if (!client.logo?.endsWith('storage/')) {
        <img src="{{client.logo}}" alt="logo" />
        }
      </ion-avatar> -->
      <ion-label>{{client.name}}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
