<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Clients</ion-title>
  </ion-toolbar>

  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    @for (client of filterdClients; track client.id) {
    <ion-item (click)="openModal(client)">
      <ion-label>{{client.name}}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
