<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end" class="flex items-center">
      <button (click)="add()">
        <ng-icon name="heroPlusCircle" class="text-2xl mr-2 mt-1"></ng-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  @if (contacts.length !== 0) {
  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="search"
  ></ion-searchbar>
  }
</ion-header>
<ion-content [fullscreen]="true">
  @if (contacts.length !== 0) {
  <ion-list>
    @for (contact of filteredContacts; track contact.id) {
    <ion-item detail (click)="goContact(contact)"
      ><ion-label
        >{{contact.firstname}} {{contact.lastname}}</ion-label
      ></ion-item
    >
    }
  </ion-list>
  } @else {
  <div class="mt-10 flex justify-center">There are no contacts yet</div>
  }
</ion-content>
