<ion-header mode="ios">
  @if (isIos) {
  <div
    class="bg-primary text-black flex justify-center items-center pt-16 py-4"
  >
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  } @else if (isAndroid){
  <div class="bg-primary text-black flex justify-center items-center h-32">
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  } @else {
  <div class="bg-primary text-black flex justify-center items-center h-32">
    <img
      src="assets/images/happyoffer.svg"
      alt="logo"
      width=""
      height=""
      class="w-5/12"
    />
  </div>
  }
</ion-header>
<ion-content>
  <div class="grid grid-cols-2 gap-5 m-5 mt-10">
    @for (item of items; track item.title ) {
    <div
      (click)="navigate(item.url)"
      class="flex flex-col justify-center items-center px-4 py-5"
      [ngClass]="item.classes"
    >
      <div class="relative">
        <ng-icon [name]="item.icon" class="text-6xl"></ng-icon>
        <span
          *ngIf="item.badge > 0"
          class="absolute top-0 right-0 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
        >
          {{ item.badge }}
        </span>
      </div>
      <div class="font-bold font-default">{{ item.title }}</div>
    </div>
    }
  </div>
</ion-content>
