<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications per offer</ion-title>
  </ion-toolbar>

  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="Search"
  ></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    @for ( offer of filteredOffers; track offer.id) {
    <div class="pl-5 py-2 even:bg-gray-200 border-b border-gray-300">
      <div class="flex items-center">
        <div class="w-9/12">
          <div class="flex justify-between items-center">
            <div>{{ offer.offerNumber }}</div>
            <div>
              @if(offer.offerStatus === 'Not Yet Send') {<ion-badge color="open"
                >Open</ion-badge
              >} @if(offer.offerStatus === 'Opened') {<ion-badge
                color="tertiary"
                >Opened</ion-badge
              >
              } @if(offer.offerStatus === 'Accepted') {<ion-badge
                color="success"
                >Accepted</ion-badge
              >
              } @if(offer.offerStatus === 'Rejected') {<ion-badge color="danger"
                >Rejected</ion-badge
              >
              }
            </div>
          </div>
          <div class="font-bold">{{ offer.name }}</div>
          <div class="flex justify-between items-center">
            <div>{{ offer.client.name }}</div>
            <div>{{ offer.offerDate.split(' ')[0]}}</div>
          </div>
        </div>
        <div class="flex justify-center w-3/12 px-2">
          <ion-toggle
            slot="end"
            color="success"
            [(ngModel)]="offer.isBlacklisted"
            (ionChange)="toggleNotification($event, offer.id)"
          ></ion-toggle>
        </div>
      </div>
    </div>
    }
  </ion-list>
</ion-content>
