<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Push notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-5">
    <div class="mt-10 flex-col items-center justify-center text-center">
      <ng-icon name="heroBellAlert" class="text-8xl mt-20 mb-10" />
      <div class="mb-20 mx-10 text-default push">
        Happy Offer would like to send you push notifications. Continue to give
        consent.
      </div>
      <ion-button expand="full" color="primary" shape="round" (click)="next()"
        >Continue</ion-button
      >
    </div>
  </div></ion-content
>
