<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Push notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-5">
    <div class="mt-10 flex-col items-center justify-center text-center">
      <ng-icon name="heroBellAlert" class="text-8xl my-20" />
      <ion-button expand="full" color="primary" shape="round" (click)="next()"
        >Next</ion-button
      >
    </div>
  </div></ion-content
>
