<ion-tabs>
  <ion-tab-bar slot="bottom" class="pt-2">
    <ion-tab-button id="todaybutton" tab="home">
      <ng-icon name="heroHome" class="text-xl text-black"></ng-icon>
      <ion-label class="font-semibold">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="clients">
      <ng-icon name="heroUser" class="text-xl text-black"></ng-icon>
      <ion-label class="font-semibold">Clients</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="contacts">
      <ng-icon name="heroUsers" class="text-xl text-black"></ng-icon>
      <ion-label class="font-semibold">Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="offers">
      <ng-icon name="heroDocumentText" class="text-xl text-black"></ng-icon>
      <ion-label class="font-semibold">Offers</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="more">
      <ng-icon name="heroCog6Tooth" class="text-xl text-black"></ng-icon>
      <ion-label class="font-semibold">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
