<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" class="pt-2 pb-5">
    <ion-tab-button id="todaybutton" tab="home" class="ml-5">
      <ng-icon name="heroHome" class="text-2xl text-black"></ng-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="clients" class="ml-5">
      <ng-icon name="heroUser" class="text-2xl text-black"></ng-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="contacts" class="ml-5">
      <ng-icon name="heroUsers" class="text-2xl text-black"></ng-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button id="todaybutton" tab="offers" class="ml-5">
      <ng-icon name="heroDocumentText" class="text-2xl text-black"></ng-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
