<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mx-5">
    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="first name"
        labelPlacement="floating"
        id="firstname"
        type="text"
        formControlName="firstname"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="last name"
        labelPlacement="floating"
        id="lastname"
        type="text"
        formControlName="lastname"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="phone number"
        labelPlacement="floating"
        id="phonenumber"
        type="text"
        formControlName="phonenumber"
      />
    </div>

    <div
      class="flex justify-between item-center mt-5 border border-1 border-gray-400 px-2 py-2 rounded-md"
    >
      <div class="mt-1">Gender</div>
      <ion-button id="open-picker" size="small" class="text-black"
        >Male</ion-button
      >
    </div>
    <ion-picker
      trigger="open-picker"
      [columns]="pickerColumns"
      [buttons]="pickerButtons"
    ></ion-picker>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="email"
        labelPlacement="floating"
        id="email"
        type="text"
        formControlName="email"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="email confirmation"
        labelPlacement="floating"
        id="emailconfirmation"
        type="text"
        formControlName="emailConfirmation"
      />
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-textarea
        label="notes"
        labelPlacement="floating"
        id="notes"
        formControlName="notes"
        rows="5"
      />
    </div>

    <div class="mt-10">
      <ion-button type="submit" expand="full" color="secondary"
        >Save</ion-button
      >
    </div>
  </form>
</ion-content>
