<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toast
    trigger="open-toast"
    [message]="toastMessage"
    [duration]="5000"
    color="success"
    position="top"
  />
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mx-5">
    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="first name"
        labelPlacement="floating"
        id="firstname"
        type="text"
        color="dark"
        formControlName="firstname"
        mode="ios"
      />
    </div>

    <div
      *ngIf="contactForm.get('firstname')?.errors && contactForm.get('firstname')?.touched"
    >
      <ng-container *ngFor="let validation of validations.firstname">
        <div
          *ngIf="contactForm.get('firstname')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="last name"
        labelPlacement="floating"
        id="lastname"
        type="text"
        mode="ios"
        formControlName="lastname"
      />
    </div>

    <div
      *ngIf="contactForm.get('lastname')?.errors && contactForm.get('lastname')?.touched"
    >
      <ng-container *ngFor="let validation of validations.lastname">
        <div
          *ngIf="contactForm.get('lastname')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="phone number"
        labelPlacement="floating"
        id="phonenumber"
        type="text"
        mode="ios"
        formControlName="phonenumber"
      />
    </div>

    <div
      *ngIf="contactForm.get('phonenumber')?.errors && contactForm.get('phonenumber')?.touched"
    >
      <ng-container *ngFor="let validation of validations.phonenumber">
        <div
          *ngIf="contactForm.get('phonenumber')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div
      class="flex justify-between item-center mt-5 border border-1 border-gray-400 px-2 py-2 rounded-md"
    >
      <div class="mt-1">Gender</div>
      <ion-button id="open-picker" size="small" class="text-black">
        {{ gender }}</ion-button
      >
    </div>
    <ion-picker
      trigger="open-picker"
      [columns]="pickerColumns"
      [buttons]="pickerButtons"
    ></ion-picker>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="email"
        labelPlacement="floating"
        id="email"
        type="text"
        formControlName="email"
        mode="ios"
      />
    </div>

    <div
      *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched"
    >
      <ng-container *ngFor="let validation of validations.email">
        <div
          *ngIf="contactForm.get('email')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-input
        label="email confirmation"
        labelPlacement="floating"
        mode="ios"
        id="emailconfirmation"
        type="text"
        formControlName="emailConfirmation"
      />
    </div>

    <div
      *ngIf="contactForm.get('emailConfirmation')?.errors && contactForm.get('emailConfirmation')?.touched"
    >
      <ng-container *ngFor="let validation of validations.emailConfirmation">
        <div
          *ngIf="contactForm.get('emailConfirmation')?.hasError(validation.type)"
          class="text-red-600"
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="mt-5 border border-1 border-gray-400 px-2 rounded-md">
      <ion-textarea
        label="note"
        labelPlacement="floating"
        id="note"
        mode="ios"
        formControlName="note"
        rows="5"
      />
    </div>

    <div class="mt-10" id="open-toast">
      <ion-button
        type="submit"
        expand="full"
        color="primary"
        shape="round"
        [disabled]="!contactForm.valid"
        >Save</ion-button
      >
    </div>
  </form>
</ion-content>
